html
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title error 
        link(href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet")
        link(href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet")
        link(rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/")
    body
        header  
            nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
                a(class="navbar-brand" href="#")       
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item active")
                            a(a class="nav-link" href="/productos") Productos 
                                span(class="sr-only")
                        li(class="nav-item")  
                            a(class="nav-link" href="/registro") Registro
        h1(style="margin-top: 2em;") No hay productos 
        

