html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title tabla
        link(rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico")
        link(rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/")
        link(href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet")
    body
        header
            nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
                a(class="navbar-brand" href="#")
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarCollapse")
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item active")
                            a(class="nav-link" href="/productos") Productos
                                span(class="sr-only") (current)
                        li(class="nav-item")
                            a(class="nav-link" href="/registro") Registro
        main(role="main" class="container")
            h1(class="mt-5") Productos 
            table(class="table table-dark")
                thead
                    tr
                        th(scope="col") Nombre 
                        th(scope="col") Precio 
                        th(scope="col") Logo 
                tbody
                    each val in productos 
                        tr 
                            th(scope='col')=val.nombre
                            th(scope='col')=val.precio
                            th(scope='col')
                                img(class="mb-4" src=val.logo alt="" width="50" height="50")          
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous") 