<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
<link rel="stylesheet" href="style.css">
</head>
<body style="box-sizing: content-box;">
    <main role="main" class="container">
        <h1 class="mt-5">Productos</h1>
            <div class="col-lg-3">
                    {{#each productos}}
                        <span><img class="mb-4" src="{{this.logo}}" alt="" width="50" height="50"/></span>
                        <h3>{{this.nombre}} ${{this.precio}}</h3>
                        <h3></h3>
                    {{/each}}
            </div>
    </main>
    <script src="/index.js"></script>
</html>


